/node_modules

/src-widgets/build
/src-widgets/node_modules

/.idea
/widgets
/tmp
*.tgz
*.orig
/*.tgz
/admin/*_old.png
/admin/WhatsApp*.jpeg
/obj/Debug/

/src-widgets/src/assets/*

.commitinfo
/.vscode/extensions.json
/src-widgets/.mf/diagnostics/
