/node_modules
/package-lock.json
/src-widgets/build
/src-widgets/node_modules
/src-widgets/package-lock.json
/.idea
/widgets
/tmp
*.tgz
*.orig
/tmp/
/*.tgz
/admin/*_old.png
/admin/WhatsApp*.jpeg
/obj/Debug/

/src-widgets/src/assets/heating/fts_window_1w_open.png
/src-widgets/src/assets/heating/fts_window_1w.png
/src-widgets/src/assets/heating/it_wifi.png
/src-widgets/src/assets/heating/it_wifi.svg
/src-widgets/src/assets/heating/message_service.png
/src-widgets/src/assets/heating/message_service.svg
/src-widgets/src/assets/heating/scene_stove.png
/src-widgets/src/assets/heating/scene_stove.svg
/bin/Microsoft.NodejsTools.WebRole.dll
/obj/Release/vis-2-widgets-weather-and-heating.njsproj.AssemblyReference.cache
