name: Test and Release

# Run this job on all pushes and pull requests
# as well as tags with a semantic version
on:
  push:
    branches:
      - '*'
    tags:
      # normal versions
      - "v?[0-9]+.[0-9]+.[0-9]+"
      # pre-releases
      - "v?[0-9]+.[0-9]+.[0-9]+-**"
  pull_request: {}

# Cancel previous PR/branch runs when a new commit is pushed
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Runs adapter tests on all supported node versions and OSes
  adapter-tests:
        if: contains(github.event.head_commit.message, '[skip ci]') == false

        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                node-version: [20.x, 22.x, 24.x]
                # temp removed windows and mac because issues with python
                os: [ubuntu-latest]

        steps:
            - uses: actions/checkout@v6

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v6
              with:
                  node-version: ${{ matrix.node-version }}

            # - name: Install macos distutils
            # if: matrix.os == 'macos-latest'
            # run: python3 --version

            - name: Install Dependencies
              run: npm i

            - name: Build
              run: npm run build

            - name: Run local tests
              run: npm test

            - name: Archive screenshots
              if: always()
              # if: failure()
              uses: actions/upload-artifact@v5
              with:
                  name: my-artifacts-${{ strategy.job-index }}
                  path: tmp/screenshots/**/*.png
                  retention-days: 3

  # Deploys the final package to NPM
  deploy:
    needs: [adapter-tests]

    # Trigger this step only when a commit on master is tagged with a version number
    if: |
            contains(github.event.head_commit.message, '[skip ci]') == false &&
            github.event_name == 'push' &&
            startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-latest

    # Write permissions are required to create Github releases
    permissions:
            contents: write
            id-token: write

    steps:
            - uses: ioBroker/testing-action-deploy@v1
              with:
                  node-version: '22.x'
                  github-token: ${{ secrets.GITHUB_TOKEN }}




      #- name: Notify Sentry.io about the release
      #  run: |
      #    npm ci -g @sentry/cli
      #    export SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
      #    export SENTRY_URL=https://sentry.io
      #    export SENTRY_ORG=rg-engineering
      #    export SENTRY_PROJECT=iobroker-vis2-weather
      #    export SENTRY_VERSION=iobroker.vis-2-widgets-weather@${{ steps.extract_release.outputs.VERSION }}
      #    sentry-cli releases new $SENTRY_VERSION
      #    sentry-cli releases finalize $SENTRY_VERSION

        # Add the following line BEFORE finalize if repositories are connected in Sentry
        # sentry-cli releases set-commits $SENTRY_VERSION --auto

        # Add the following line BEFORE finalize if sourcemap uploads are needed
        # sentry-cli releases files $SENTRY_VERSION upload-sourcemaps build/
